/*
# -*- encoding: utf-8 -*-
# Python source code encoding : https://www.python.org/dev/peps/pep-0263/
##############################################################################
#
#    OpenERP, Odoo Source Management Solution
#    Copyright (c) 2015 Databit Solusi Indonesia (http://www.databit.co.id)
#    Ade Anshori <adeanshori@databit.co.id>
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published
#    by the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##############################################################################
*/

.menu-nav {
  margin: 7.5px -15px;
}
.menu-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .menu-left {
    float: left !important;
  }
  .menu-right {
    float: right !important;
  }
}
.menu_header .oe_topbar_avatar {
  max-height: 18px;
  width: auto;
}
.menu_header, .menu_header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_header {
    width: 100%;
    margin: 0px;
    padding: 2px;
    background-color: #A3478A;
    box-shadow: 0 1px 1px #777;
}

.menu_header:before,
.menu_header:after {
    content: "";
    display: table;
}

.menu_header:after {
    clear: both;
}

.menu_header {
    zoom:1;
}
.menu_header li {
    float: left;
    box-shadow: 0px 0 0 #444;
    position: relative;
}

#oe_main_menu_navbar .menu_header a {
margin-top: 2px;
padding: 4px 8px 4px 8px;
    float: left;
    color: #fafafa; 
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#oe_main_menu_navbar .menu_header li:hover > a {
    color: #fafafa;
}

*html #oe_main_menu_navbar .menu_header li a:hover { 
    color: #fafafa;
}

/**/
.menu_header ul ul {
    margin: 20px 0 0 0;
    _margin: 0; 
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    /*border-radius: 3px;*/
    transition: all .2s ease-in-out;
}
#oe_main_menu_navbar .menu_header ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
#oe_main_menu_navbar .menu_header ul ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; 
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#oe_main_menu_navbar .menu_header ul ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; 
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#oe_main_menu_navbar .menu_header ul ul li:last-child {   
    box-shadow: none;    
}

#oe_main_menu_navbar .menu_header ul ul a {    
    padding: 10px;
    width: 210px;
    _height: 10px; 
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
color: #FFFFFF;
}
#oe_main_menu_navbar .menu_header ul ul a:hover {
    background-color: #0186ba; 
    /*background-image: linear-gradient(#0186ba, #0186ba);*/
}
#oe_main_menu_navbar .menu_header ul ul li:first-child > a {
    border-radius: 0 0 0 0;
}

#oe_main_menu_navbar .menu_header ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#oe_main_menu_navbar .menu_header ul ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#oe_main_menu_navbar .menu_header ul ul li:first-child a:hover:after {
    /*border-radius: 3px;*/ 
    border-bottom-color: #0186ba;  
}

#oe_main_menu_navbar .menu_header ul ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#oe_main_menu_navbar .menu_header ul ul li:last-child > a {
    border-radius: 0 0 0 0;
}
$('.menu-wrap').prepend('<div id="menu-trigger">Menu</div>');       
$(".menu-trigger").on("click", function(){
    $(".menu").slideToggle();
});
var isiPad = navigator.userAgent.match(/iPad/i) != null;
if (isiPad) $('.menu ul').addClass('no-transition');
.menu-trigger { 
    display: none;
}

/*
@media screen and (max-width: 600px) {

    .menu-wrap {
        position: relative;
    }

    .menu-wrap * {
        box-sizing: border-box;
    }

    .menu-trigger {
        display: block; 
        height: 40px;
        line-height: 40px;
        cursor: pointer;        
        padding: 0 0 0 35px;
        border: 1px solid #222;
        color: #fafafa;
        font-weight: bold;
        background-color: #111;
        background: url(data:image/png;base64,iVBOR...) no-repeat 10px center, linear-gradient(#444, #111);
        border-radius: 6px;
        box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    }

    .menu {
        margin: 0; padding: 10px;
        position: absolute;
        top: 40px;
        width: 100%;
        z-index: 1;
        display: none;
        box-shadow: none;       
    }

    .menu:after {
        content: '';
        position: absolute;
        left: 25px;
        top: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #444;
    }   

    .menu ul {
        position: static;
        visibility: visible;
        opacity: 1;
        margin: 0;
        background: none;
        box-shadow: none;               
    }

    .menu ul ul {
        margin: 0 0 0 20px !important;
        box-shadow: none;       
    }

    .menu li {
        position: static;
        display: block;
        float: none;
        border: 0;
        margin: 5px;
        box-shadow: none;           
    }

    .menu ul li{
        margin-left: 20px;
        box-shadow: none;       
    }

    .menu a{
        display: block;
        float: none;
        padding: 0;
        color: #999;
    }

    .menu a:hover{
        color: #fafafa;
    }   

    .menu ul a{
        padding: 0;
        width: auto;        
    }

    .menu ul a:hover{
        background: none;   
    }

    .menu ul li:first-child a:after,
    .menu ul ul li:first-child a:after {
        border: 0;
    }       

}

*/

@media screen and (min-width: 600px) {
    .menu {
        display: block !important;
    }
}   

.no-transition {
    transition: none;
    opacity: 1;
    visibility: visible;
    display: none;          
}

#oe_main_menu_navbar .menu_header ul li:hover > .no-transition {
    display: block;
}
